@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.primaryBorder {
    position: absolute;
    z-index: -1;
    inset: -5px;
    border-radius: 35px;
    background-image: conic-gradient(from var(--angle), transparent 30%, #F868CA);
    animation: AnimSpin 2s linear infinite;
    filter: blur(1px);
}

@keyframes AnimSpin {
    100% {
        --angle: 360deg
    }
}

.primaryBtn {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, .2);
}

.primaryBtn::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: -50%;
    right: 100%;
    width: 30px;
    height: 250%;
    background-color: rgba(255, 255, 255, .6);
    transform: rotate(20deg);
    filter: blur(7px);
    animation: animLighting 5s ease infinite;
}

@keyframes animLighting {
    0% {
        translate: 0 0;
    }

    15% {
        translate: 500px 0;
    }

    100% {
        translate: 500px 0;
    }

}

@media (width <=1340px) {
    .primaryBtn {
        box-shadow: none;
    }
}